// These colors are specific to the theme. Do not use in a package!

/* Variables */

@background: #3a3a3a; // Code background
@foreground: #cdcdcd; // Code foreground
@comment: #868a8c; // Comment color
@comment-active: #aaaaaa; // Comment active
@cursor: #ffffff; // Cursor color
@activeline-background: rgba(0, 0, 0, 0.2); // Active line
@activeline-foreground: rgba(0, 0, 0, 0.3);
@matchingtag-background: rgba(0, 0, 0, 0.7); // Matching tag
@selected-background: rgba(0, 0, 0, 0.6); // Selected text
@matchingbracket-background: rgba(255,255,255,.2);

/* Inline variables */
@error: #f2777a;
@string: #99ccaa; // HTML, CSS, JS string
@tag: #5D9CD0;
@variable: #6dc5dc;
@variable2: #fff;
@number: #f99157;
@definition: #9dbedd; // CSS definition
@keyword: #ffeead; // CSS !important, JS define a variable
@operator: #cda869; // Math
@meta: #141414;
@meta-color: #f7f7f7;
@id: #cc99cc; // CSS ID
@attribute: #fede88; // HTML class=""
@property: #d4d4d4; // CSS definer
@qualifier: #ffcc66; // CSS class


@very-light-gray: #cdcdcd;
@light-gray: #868a8c;
@gray: #3a3a3a;
@dark-gray: #3a3a3a;
@very-dark-gray: #3a3a3a;

@cyan: #fff;
@blue: #6dc5dc;
@purple: #ffeead;
@green: #99ccaa;
@red: #5D9CD0;
@orange: #9dbedd;
@light-orange: light-orange;
